body{
    display: flex;
    align-items: center;
    color:black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.signup-form{
    border:3px solid whitesmoke;
    background-color: azure;
    display:flex;
    align-items: start;
    flex-direction: column;
    margin:10px;
    padding:10px;
    gap:2px;
}
label{
    margin: 5px;
    padding: 2px;
}